In [1]:
import numpy as np

In [2]:
x = np.array([1,3,5])
y = np.array([1,5,9])
x.mean()

3.0

In [3]:
y.mean()

5.0

In [4]:
x.shape

(3,)

In [5]:
y.shape

(3,)

In [6]:
import math

In [7]:
math.pi

3.141592653589793

In [8]:
math.sqrt(10)

3.1622776601683795

In [9]:
math.pi

3.141592653589793

In [10]:
math.pi/2

1.5707963267948966

In [11]:
math.sin(math.pi/2)

1.0

In [13]:
math.sqrt

In [14]:
np.sqrt

In [15]:
math.sqrt(2)

1.4142135623730951

In [16]:
np.sqrt(2)

1.4142135623730951

In [18]:
np.sqrt([7,8,9.5,10])
#this cannot be performed by math module.

array([2.64575131, 2.82842712, 3.082207  , 3.16227766])

In [21]:
name = "Amy"
type(name)

str

In [22]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [23]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [25]:
name.upper

In [26]:
name.upper()

'AMY'

In [27]:
123 + 34

157

In [28]:
123 * 34

4182

In [29]:
34 ** 2

1156

In [31]:
for i in range(11):
    print("cube of ", i ,"=",i ** 3)

cube of  0 = 0
cube of  1 = 1
cube of  2 = 8
cube of  3 = 27
cube of  4 = 64
cube of  5 = 125
cube of  6 = 216
cube of  7 = 343
cube of  8 = 512
cube of  9 = 729
cube of  10 = 1000

In [32]:
6/7

0.8571428571428571

In [33]:
6//7

0

In [34]:
89/5

17.8

In [35]:
89//5

17

In [36]:
15 / 2.3

6.521739130434783

In [37]:
_

6.521739130434783

In [38]:
_ * 2.3

15.0

In [39]:
10 * 2

20

In [40]:
_ + 5

25

In [41]:
_ ** 2

625

In [42]:
math.factorial(3)

6

In [44]:
math.factorial(10)

3628800

In [45]:
for i in range(11):
    print("Factorial of ",i,"=",math.factorial(i))

Factorial of  0 = 1
Factorial of  1 = 1
Factorial of  2 = 2
Factorial of  3 = 6
Factorial of  4 = 24
Factorial of  5 = 120
Factorial of  6 = 720
Factorial of  7 = 5040
Factorial of  8 = 40320
Factorial of  9 = 362880
Factorial of  10 = 3628800

In [46]:
import random

In [49]:
random.choice([2,44,55,66])

66

In [50]:
random.choice([2,44,55,66])

44

In [61]:
random.choice(["Alice","Adlin","Amy","Alvin"])

'Alvin'

In [62]:
random.choice(["Alice","Adlin","Amy","Alvin"])

'Alice'

In [63]:
random.choice(["Alice","Adlin","Amy","Alvin"])

'Alice'

In [64]:
random.choice(["Alice","Adlin","Amy","Alvin"])

'Alice'

In [65]:
random.choice(["Alice","Adlin","Amy","Alvin"])

'Adlin'

In [66]:
random.choice(["Alice","Adlin","Amy","Alvin"])

'Adlin'

In [67]:
type(True)

bool

In [68]:
type(False)

bool

In [69]:
True or False

True

In [70]:
True and False

False

In [71]:
True and True

True

In [72]:
False or False

False

In [73]:
False or True

True

In [74]:
not True

False

In [75]:
not False

True

In [76]:
6 > 5

True

In [77]:
6 == 5

False

In [78]:
6 >= 5

True

In [79]:
4**2 < 20

True

In [80]:
1 != 9

True

In [81]:
9 != 9

False

In [82]:
[2,4] == [4,2]

False

In [83]:
[2,4] == [2,4]

True

In [84]:
[2,4] is [2,4]

False

In [85]:
[2,4] is not [2,4]

True

In [86]:
2.0 == 2

True

In [87]:
True and not False

True

In [88]:
numbers = [2,4,6,8]

In [89]:
numbers[0]

2

In [90]:
numbers.append(10)
print(numbers)

[2, 4, 6, 8, 10]

In [91]:
numbers[-1]

10

In [92]:
numbers

[2, 4, 6, 8, 10]

In [93]:
x=[12,14,16]

In [94]:
numbers + x

[2, 4, 6, 8, 10, 12, 14, 16]

In [95]:
type(_)

list

In [96]:
numbers = [1,3,5,7,11,13,17,19,23]

In [97]:
numbers.reverse()

In [98]:
numbers

[23, 19, 17, 13, 11, 7, 5, 3, 1]

In [99]:
names = ["Alice","Adlin","Amy","Alvin"]

In [100]:
names.sort()

In [101]:
names

['Adlin', 'Alice', 'Alvin', 'Amy']

In [102]:
sorted(names, reverse = True)

['Amy', 'Alvin', 'Alice', 'Adlin']

In [103]:
len(names)

4

In [104]:
t = (1,3,5,7)

In [105]:
len(t)

4

In [106]:
t + (9,11)

(1, 3, 5, 7, 9, 11)

In [107]:
t[1]

3

In [108]:
t[-1]

7

In [109]:
x=12.23
y=23.34
coordinate = (x,y)

In [110]:
type(coordinate)

tuple

In [111]:
coordinate

(12.23, 23.34)

In [112]:
(c1,c2)  = coordinate

In [113]:
c1

12.23

In [114]:
c2

23.34

In [115]:
c = [(0,0),(1,1),(2,4),(3,9),(4,16),(5,25),(6,36),(7,49),(8,64),(9,81)]
for (x,y) in c:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [119]:
for x,y in c:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [120]:
d =(2,3)
type(d)

tuple

In [121]:
d = (2)

In [122]:
type(d)

int

In [123]:
d =(2,)
type(d)

tuple

In [124]:
range(5)

range(0, 5)

In [125]:
list(range(5))

[0, 1, 2, 3, 4]

In [126]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [127]:
list(range(1,13,2))

[1, 3, 5, 7, 9, 11]

In [130]:
s = "Python"
len(s)

6

In [131]:
s[0]

'P'

In [132]:
s[-1]

'n'

In [133]:
s[0:3]

'Pyt'

In [134]:
s[-3:]

'hon'

In [135]:
"y" in s

True

In [136]:
"Y" in s

False

In [137]:
12 + 12

24

In [138]:
"Alice"+"Alice"

'AliceAlice'

In [139]:
12 * 12

144

In [141]:
"Alice"*5

'AliceAliceAliceAliceAlice'

In [142]:
str.replace?

In [143]:
"ALice".replace("L","l")

'Alice'

In [146]:
sp="Alice".split("i")

In [147]:
sp[0]

'Al'

In [149]:
sp[0].upper()

'AL'

In [150]:
ids = set()

In [151]:
ids = set([1,2,4,6,7,8,9])

In [152]:
len(ids)

7

In [153]:
ids.add(10)

In [154]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [155]:
ids.add(2)

In [156]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [159]:
ids.pop()

4

In [160]:
ids = set(range(10))

In [161]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [162]:
males = set ([1,3,5,6,7])

In [163]:
females = ids - males
#from ids remove all the elements present in malesc

In [164]:
type(females)

set

In [165]:
females

{0, 2, 4, 8, 9}

In [166]:
everyone = males | females

In [167]:
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [168]:
everyone & set([2,3,7,8])

{2, 3, 7, 8}

In [169]:
ids & males

{1, 3, 5, 6, 7}

In [170]:
word = "antidiestablishmentarianism"

In [171]:
letters = set(word)

In [172]:
len(letters)

12

In [173]:
x = set([1,2,3])
y = set([2,3,4])
new = x|y

In [174]:
new

{1, 2, 3, 4}

In [175]:
new - (x&y)

{1, 4}

In [176]:
age = {}

In [177]:
type(age)

dict

In [178]:
age = dict()
type(age)

dict

In [179]:
age = {"Amy":26,"Alice":24,"Adlin":23,"Alvin":21}
age

{'Amy': 26, 'Alice': 24, 'Adlin': 23, 'Alvin': 21}

In [180]:
age["Alice"]

24

In [181]:
age["Alice"] += 1
age["Alice"]

25

In [182]:
age.keys()

dict_keys(['Amy', 'Alice', 'Adlin', 'Alvin'])

In [183]:
age.values()

dict_values([26, 25, 23, 21])

In [184]:
age.items()

dict_items([('Amy', 26), ('Alice', 25), ('Adlin', 23), ('Alvin', 21)])

In [185]:
"Alice" in age

True

In [186]:
"Tom" in age

False

In [187]:
x=3
y=x
y=y-1

In [188]:
x

3

In [189]:
y

2

In [190]:
L1 = [2,3,4]

In [191]:
L2 = L1

In [192]:
L1[0]=24

In [193]:
L2

[24, 3, 4]

In [194]:
L1

[24, 3, 4]

In [195]:
L2[0]=56

In [196]:
L2

[56, 3, 4]

In [197]:
L1

[56, 3, 4]

In [200]:
l= [1,2,3]

In [201]:
m= [1,2,3]

In [202]:
l == m

True

In [203]:
l is m

False

In [204]:
id(l)

9985192

In [205]:
id(m)

10088808

In [206]:
l = [1,2,3]

In [208]:
m =l[:]

In [209]:
l is m

False

In [210]:
m

[1, 2, 3]

In [211]:
m =list(l)

In [212]:
m

[1, 2, 3]

In [213]:
m is l

False

In [214]:
m == l

True

In [215]:
import copy

In [216]:
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)

In [217]:
y

[1, [2]]

In [218]:
z

[1, [2]]

In [219]:
y is z

False

In [220]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [221]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [222]:
names

['Adlin', 'Alice', 'Alvin', 'Amy']

In [223]:
for name in names:
    print(name)

Adlin
Alice
Alvin
Amy

In [224]:
for i in range(len(names)):
    print(names[i])

Adlin
Alice
Alvin
Amy

In [225]:
age

{'Amy': 26, 'Alice': 25, 'Adlin': 23, 'Alvin': 21}

In [226]:
age.keys()

dict_keys(['Amy', 'Alice', 'Adlin', 'Alvin'])

In [227]:
for name in age.keys():
    print(name, age[name])

Amy 26
Alice 25
Adlin 23
Alvin 21

In [233]:
bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}
for bear in bears:
    if bears[bear]=="friendly":
        print("Hello, "+bear+" bear!")
    else:
        print("odd")

odd
Hello, Brown bear!
Hello, Polar bear!

In [238]:
is_prime = True
for i in range(2,n):
    if n%i == 0:
        print(i,"True")
print(is_prime)

2 True
5 True
True

In [236]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

In [239]:
numbers = range(10)
squares = []
for i in numbers:
    squares.append(i**2)
    
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [240]:
square_of_num=[i**2 for i in range(21)]

In [243]:
print(square_of_num)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [246]:
x = sum([i for i in range(10) if i%2 == 1])

In [247]:
x

25

In [255]:
# Reading and writing file

filename = open("input.txt","r")
for line in filename:
    line = line.rstrip()
    print(line)

First line
Second line
Third line

In [258]:
f = open("output.txt","w")
f.write("""Hi I am Alice.\n 
        I am enjoying python.\n""")
f.close()

In [259]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()
lines = []
for line in open("input.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

In [260]:
#Functions

def add(a,b):
    return a+b

add(999,9999)

10998

In [262]:
def add_dif(a,b):
    return (a+b, a-b)

add_dif(45678, 34567)

(80245, 11111)

In [265]:
def modify(lst):
    lst[0] *= 10
L = [1,2,3,4,5]
modify(L)
L

[10, 2, 3, 4, 5]

In [266]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

True

In [270]:
import random
def password(length):
    pw=str()
    ch="abcdefghijklmnopqrstuvwxyz1234567890.!/?"
    for i in range(length):
        pw = pw + random.choice(ch)
    return pw

password(10)

's6v0z!xxcz'

In [272]:
def intersect(s1,s2):
    res=[]
    for i in s1:
        if i in s2:
            res.append(i)
    return res

intersect([1,2,3], [3,4,5,6,7])

[3]

In [281]:
def is_vowel(letter):
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

is_vowel(4)

TypeError: 'in <string>' requires string as left operand, not int

In [282]:
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

is_vowel(4)

False

In [288]:
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N *= i
        return(N)
    
factorial(3)

6